<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>Расписание ВСГУТУ</title>
    <link rel='stylesheet prefetch' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet prefetch' href='https://material.angularjs.org/1.1.1/docs.css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet prefetch' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1-master-0b72ab9/angular-material.css'>
    <link rel="stylesheet" href="css/timetable.css">

  </head>

  <body>
    <div ng-controller="ToolbarCtrl" ng-cloak="" class="toolbardemoBasicUsage" ng-app="MyApp">
	<div ng-controller="ListCtrl" layout="column" ng-cloak="" ng-show="isLoading" style="position: fixed; z-index: 9; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.6);" class="progressCirculardemoBasicUsage" ng-app="MyApp">
				<md-content layout-padding="" style="background: none; top: calc(50% - 36px);">
					<div layout="row" layout-sm="column" layout-align="space-around">
						<md-progress-circular class="md-accent" md-diameter="40"></md-progress-circular>
					</div>
				</md-content>
			</div>
      <md-content>
        <md-toolbar class="md-hue-2">
          <div class="md-toolbar-tools">
            <h2 flex="" md-truncate="">Добавить группу</h2>
            <div class="md-menu-demo menudemoMenuPositionModes" ng-controller="PositionDemoCtrl as ctrl" ng-cloak="" style="" ng-app="MyApp">
              <div class="menu-demo-container" layout-align="start center" layout="column">
                <div class="menus" layout-wrap="" layout="row" layout-fill="" layout-align="space-between center" style="">
                  <div layout="column" flex-xs="100" flex-sm="100" flex="33" layout-align="center center">
                    <md-menu md-position-mode="target-right target">
                      <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                        <md-icon md-menu-origin="" md-svg-icon="img/icons/more_vert.svg"></md-icon>
                      </md-button>
                      <md-menu-content width="4">
                        <md-menu-item ng-repeat="item in ['Расписание', 'О приложении']">
                          <md-button ng-click="ctrl.announceClick($index, item)">
                            <div layout="row" flex="">
                              <p flex="">{{item}}</p>
                            </div>
                          </md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </md-toolbar>
      </md-content>
      <div ng-controller="AddCtrl" layout="column" ng-cloak="" class="inputdemoErrors" ng-app="MyApp">
        <md-content layout-padding="">
          <form name="projectForm" ng-submit="submit()">
            <md-input-container>
              <label>Направление</label>
              <md-select name="type" ng-model="type" required="">
                <md-option value="spezialitet">Магистратура, колледж, ДОУ</md-option>
                <md-option value="bakalavriat">Бакалавриат, специалитет</md-option>
              </md-select>
            </md-input-container>
            <md-input-container>
              <label>Название группы</label>
              <input required="" name="clientName" ng-model="clientName">
              <div ng-messages="projectForm.clientName.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
            <div>
              <md-button type="submit">Поиск</md-button>
            </div>
          </form>
      </div>
    </div>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js'></script>
    <script src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1-master-0b72ab9/angular-material.js'></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
    <script src='https://code.angularjs.org/latest/angular-sanitize.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="js/angular-swipe.js"></script>
    <script src="js/angular-swipe.min.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/add.js"></script>
	<script src="cordova.js"></script>
  </body>

</html>
