<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Расписание ВСГУТУ</title>
		<link rel='stylesheet prefetch' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css'>
		<link rel='stylesheet prefetch' href='https://material.angularjs.org/1.1.1/docs.css'>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel='stylesheet prefetch' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1-master-0b72ab9/angular-material.css'>
		<link rel="stylesheet" href="css/timetable.css">

	</head>
	<body onmousedown="return false" onselectstart="return false">
	     <div id="page-loading">
			<p>Загрузка...</p>
		</div>
		<script type="text/javascript">
			document.addEventListener("DOMContentLoaded", function(event) {
				$('#page-loading')
					.fadeOut('slow');
			});
		</script>
		<div ng-controller="ToolbarCtrl" ng-cloak="" class="toolbardemoBasicUsage" ng-app="MyApp">
			<md-content style=" position: fixed; z-index: 9; width: 100%; ">
				<md-toolbar class="md-hue-2">
					<div class="md-toolbar-tools">
						<h2 flex="" md-truncate="">Сменить группу</h2>
						<md-button class="md-icon-button" aria-label="More" ng-click="addGroup()">
							<i class="material-icons">add</i>
						</md-button>
						<div class="md-menu-demo menudemoMenuPositionModes" ng-controller="PositionDemoCtrl as ctrl" ng-cloak="" style="" ng-app="MyApp">
							<div class="menu-demo-container" layout-align="start center" layout="column">
								<div class="menus" layout-wrap="" layout="row" layout-fill="" layout-align="space-between center" style="">
									<div layout="column" flex-xs="100" flex-sm="100" flex="33" layout-align="center center">
										<md-menu md-position-mode="target-right target">
											<md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
												<md-icon md-menu-origin="" md-svg-icon="img/icons/more_vert.svg"></md-icon>
											</md-button>
											<md-menu-content width="4">
												<md-menu-item>
												  <md-button ng-click="ctrl.announceLink('tt')">
													<div layout="row" flex="">
													  <p flex="">Расписание</p>
													</div>
												  </md-button>
												</md-menu-item>
												<md-menu-item>
												  <md-button ng-click="ctrl.announceLink('feedback')">
													<div layout="row" flex="">
													  <p flex="">Обратная связь</p>
													</div>
												  </md-button>
												</md-menu-item>
											</md-menu-content>
										</md-menu>
									</div>
								</div>
							</div>
						</div>
					</div>
				</md-toolbar>
			</md-content>
			<div ng-controller="CardCtrl" ng-cloak="" class="carddemoBasicUsage" ng-app="MyApp" style="overflow: auto; height: calc(100% - 63px);">
				<md-content class="md-padding" style="margin-top: 58px;">
					<div>
						<md-subheader class="md-primary">Текущая</md-subheader>
						<md-card ng-repeat = "item in groups" ng-if = "item.nameOfGroup === activeGroup">
							<md-card-title>
								<md-card-title-text>
									<span class="md-headline">{{item.nameOfGroup}}</span>
									<span class="md-subhead">Обновлено {{item.update}}</span>
								</md-card-title-text>
							</md-card-title>
							<md-card-actions layout="row" layout-align="end center">
								<md-button ng-click = "refreshGroup(item)">Обновить</md-button>
							</md-card-actions>
						</md-card>
					</div>
					<div ng-if = "groupsLen != 1" style="overflow: auto; height: calc(100% - 63px);">
						<md-subheader class="md-primary">Остальные группы</md-subheader>
						<md-card ng-repeat = "item in groups" ng-if = "item.nameOfGroup !== activeGroup">
							<md-card-title>
								<md-card-title-text>
									<span class="md-headline">{{item.nameOfGroup}}</span>
									<span class="md-subhead">Обновлено {{item.update}}</span>
								</md-card-title-text>
							</md-card-title>
							<md-card-actions layout="row" layout-align="end center">
								<md-button ng-click = "openGroup(item)">Открыть</md-button>
								<md-button ng-click = "refreshGroup(item)">Обновить</md-button>
								<md-button ng-click = "deleteGroup(item)">Удалить</md-button>
							</md-card-actions>
						</md-card>
					</div>
				</md-content>
			</div>
		</div> 
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js'></script>
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js'></script>
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js'></script>
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js'></script>
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js'></script>
	<script src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1-master-0b72ab9/angular-material.js'></script>
	<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
	<script src='https://code.angularjs.org/latest/angular-sanitize.min.js'></script>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src="js/angular-swipe.js"></script>
	<script src="js/angular-swipe.min.js"></script>
	<script src="js/menu.js"></script>
	<script src="js/settings.js"></script>
	<script src="cordova.js"></script>
	</body>
</html>